$themeColor1: #00111c;
$themeColor2: #001523;
$themeColor3: #001a2c;
$themeColor4: #002137;
$themeColor5: #00253e;
$themeColor6: #002945;

$fontColor1: #fff;
$fontColor2: rgb(238, 238, 238);

$gridSpacing: .5rem;