$themeColor1: #212529;
$themeColor2: #343a40;
$themeColor3: #495057;
$themeColor4: #6c757d;
$themeColor5: #adb5bd;
$themeColor6: #ced4da;
$themeColor7: #dee2e6;
$themeColor8: #e9ecef;
$themeColor9: #f8f9fa;

$fontColor1: #fff;
$fontColor2: rgb(238, 238, 238);
$fontColor3: rgb(65, 221, 91);

$gridSpacing: .5rem;