.btn {
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    border-radius: 10px;

    &-bg {
        background-color: $themeColor1;

        &_2 {
            background: linear-gradient(90deg, #b615df 0%, #d136a8 100%);
        }
    }

    &-clear {
        background-color: transparent;

        transition: background-color 200ms;

        &:hover {
            background-color: $themeColor1;
        }

        &_2 {
            background-color: transparent;
    
            transition: background-color 200ms;

            &:hover {
                background-color: rgba($themeColor1, .2);
            }
        }
    }
}